#ifndef HOT_TUB_CONTROLLER_SECRETS_H
#define HOT_TUB_CONTROLLER_SECRETS_H

// hostname of this ESP32
static const char *WIFI_HOST = "esp32-8";
static const char *WIFI_NAME = "MY_WIFI_SSID";
static const char *WIFI_PASS = "MY_WIFI_PASSWORD";

#endif //HOT_TUB_CONTROLLER_SECRETS_H
