#ifndef HOT_TUB_CONTROLLER_SECRETS_H
#define HOT_TUB_CONTROLLER_SECRETS_H

// Wifi configuration is now set interactively


// Soft AP Wifi - this is the Wifi network
// hosted by the controller itself for bootstrap configuration
// connect to this and pull up http://192.168.4.1 to
// use and configure the controller
static const char *SOFTAP_WIFI_NAME = "hottubctl";
static const char *SOFTAP_WIFI_PASS = "secretpassword"; // set to NULL to make it open


#endif //HOT_TUB_CONTROLLER_SECRETS_H
